pandas
numpy
scikit-learn
matplotlib
plotly
torch
transformers
accelerate
sentencepiece
sentence-transformers
langdetect
ftfy
emoji
spacy
clean-text[gpl]
regex
fastapi
uvicorn[standard]
pydantic
tqdm
joblib
